{{#if candelete}}
    <a {{action 'delete' record}} role="button" class="btn btn-outline btn-md red darken-1 waves-effect tooltipped" data-position="left" data-tooltip="{{t 'crud-model.Delete'}} <b>{{get record entityIdentifier}}</b>">
      <i class="fa fa-times"/>
    </a>
{{/if}}