{{#if candelete}}
  <td style="width:40px">
    <span data-toggle="modal" data-target="#crud-model-modal">
      <a {{action 'delete' record}} href="#delete" role="button" class="btn btn-outline-danger btn-sm" data-toggle="tooltip" data-placement="left" data-html="true" title="{{t 'crud-model.Delete'}} <b>{{get record entityIdentifier}}</b>">
        <i class="fa fa-times"/>
      </a>
    </span>
  </td>
{{/if}}