{{#if canupdate}}
  <td style="width:40px">
    <span data-toggle="modal" data-target="#crud-model-modal">
      <a {{action 'edit' record}} href="#crud-model-modal" role="button" class="btn btn-outline-info btn-sm" data-toggle="tooltip" data-placement="top" data-html="true" title="{{t 'crud-model.Edit'}} <b>{{get record entityIdentifier}}</b>">
        <i class="fa fa-edit"/>
      </a>
    </span>
  </td>
{{/if}}