{{#if canupdate}}
    <a {{action 'edit' record}} class="btn btn-outline btn-md blue waves-effect tooltipped" data-position="top" data-tooltip="{{t 'crud-model.Edit'}} <b>{{get record entityIdentifier}}</b>">
      <i class="fa fa-edit"/>
    </a>
{{/if}}