{{partial 'crud-model/top-menu'}}
<div class="crud-model-overflow">
  {{crud-table
    canupdate=canupdate
    candelete=candelete
    materialize=materialize
    classNames=tableClasses
    tagName=tableTagName
    tableTemplate=tableTemplate
    model=datamodel
    fields=model
    genericActions=genericActions
    customActions=customActions
    read=read
    delete=(action 'delete')
    edit=(action 'edit')
    toggleSort=(action 'toggleSort')
    classHeaders=rowHeaderStyle
    sideModels=sideModels
    entityIdentifier=entityIdentifier
  }}
</div>
{{partial 'crud-model/paginator'}}
{{#if mode}}
  {{crud-modal
    materialize=materialize
    labelSize=labelSize
    inputSize=inputSize
    parent=(action 'child')
    errorParser=errorParser
    create=create
    update=update
    delete=delete
    resolve=resolve
    cancel=(action 'cancel')
    fields=model
    entityName=entityName
    rowHeaderStyle=rowHeaderStyle
    sideModels=sideModels
    genericActions=genericActions
    entityIdentifier=entityIdentifier
  }}
{{/if}}
<script>
$(document).ready(function(){
    $('.tooltipped').tooltip({
      delay: 50,
      html: true
    });
    $('.dropdown-button').dropdown({
      constrainWidth: false,
      stopPropagation: true
    });
  });
</script>