<div class="modal fade" id="crud-model-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="overflow:auto !important;">
  <div class="modal-dialog {{if mode_delete 'modal-sm' 'modal-80'}}" role="document">
    <div class="modal-content">
      <div class="modal-header {{if mode_delete 'bg-danger text-white'}} {{if mode_create 'bg-primary text-white'}} {{if mode_update 'bg-info text-white'}}">
        <h5 class="modal-title">
          {{#if mode_create}}
            {{t (concat "crud-model." "Add a New")}} {{entityName}}
          {{/if}}
          {{#if mode_update}}
            {{t (concat "crud-model." "Updating")}} {{entityName}} {{get model entityIdentifier}}
          {{/if}}
          {{#if mode_delete}}
            {{t (concat 'crud-model.' "You're about to delete a record!")}}
          {{/if}}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{#unless mode_delete}}
          <form method="post" class="{{if materialize 'row' 'form-horizontal container-fluid'}}">
            {{#each-in fields as |field config|}}
            {{#if mode_update}}
              {{#if config.update}}
                {{crud-field materialize=materialize model=model field=field configuration=config mode=mode tagName='div' fetch=(get sideModels config.records)}}
              {{/if}}
            {{/if}}
            {{#if mode_create}}
              {{#if config.create}}
                {{crud-field materialize=materialize model=model field=field configuration=config mode=mode tagName='div' fetch=(get sideModels config.records)}}
              {{/if}}
            {{/if}}
            {{/each-in}}
            <input type="submit" style="display:none;">
          </form>
          {{#if wait}}
          <div style="position: absolute;background-color: rgba(158, 158, 158, 0.68);width: 100%;height: 100%;top: 0px;left: 0px;display: flex;justify-content: center;align-items: center;font-size: 4em;">
            <span>
              <span class="fa fa-refresh fa-spin"></span>
            </span>
          </div>
          {{/if}}
          {{else}}

            {{t (concat 'crud-model.' 'Deleting the record')}}: <strong>{{get model entityIdentifier}}</strong> {{t (concat 'crud-model.' 'is a permanant action')}}.
        {{/unless}}
      </div>
      <div class="modal-footer">
        <div id="crud-model-alert" class="alert alert-danger collapse" role="alert"></div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{t (concat 'crud-model.' 'Cancel')}}</button>
        <button type="button" class="btn {{if mode_delete 'btn-danger'}} {{if mode_update 'btn-info'}} {{if mode_create 'btn-primary'}}" {{action 'validate'}}>
          {{#if mode_create}}
            {{t (concat 'crud-model.' 'Create')}}
          {{/if}}
          {{#if mode_update}}
            {{t (concat 'crud-model.' 'Update')}}
          {{/if}}
          {{#if mode_delete}}
            {{t (concat 'crud-model.' 'Delete')}}
          {{/if}}
        </button>
      </div>
    </div>
  </div>
</div>