{{partial 'crud-model/top-menu'}}
<div class="overflow">
  {{crud-table
    canupdate=canupdate
    candelete=candelete
    materialize=materialize
    classNames=tableClasses
    tagName=tableTagName
    tableTemplate=tableTemplate
    model=datamodel
    fields=model
    read=read
    delete=(action 'delete')
    edit=(action 'edit')
    toggleSort=(action 'toggleSort')
    classHeaders=rowHeaderStyle
    sideModels=sideModels
    entityIdentifier=entityIdentifier
  }}
</div>
{{partial 'crud-model/paginator'}}
{{#if mode}}
  {{crud-modal
    materialize=materialize
    labelSize=labelSize
    inputSize=inputSize
    parent=(action 'child')
    errorParser=errorParser
    create=create
    update=update
    delete=delete
    resolve=resolve
    cancel=(action 'cancel')
    fields=model
    entityName=entityName
    rowHeaderStyle=rowHeaderStyle
    sideModels=sideModels
    genericActions=genericActions
    entityIdentifier=entityIdentifier
  }}
{{/if}}