@import "./stripped";
@import "./crud-cropper";
@import "./heartbit";
@import "./mailboxes";

.google-map-canvas {
  border: solid 1pX #CCC;
}
.google-map-location, .google-map-actions {
  padding: 5px 20px;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.crud-model #crud-model-paginator {
  position: absolute;
    bottom: -25px;
    left: 0px;
    right: 0px;
    align-items: center;
    display: flex;
}
.detect-events {
  pointer-events: auto !important;
}
.no-select {
  user-select: none;
}

.modal-dialog {
  overflow-x: hidden !important;
}
@media (min-width: 576px) {
  .modal-80 {
    max-width: 1000px !important;
    width: 80%;
  }
}
.mt-form {
  .input-field {
    .prefix ~ input.sufix {
      width: calc(100% - 6rem);
    }
  }

  div.sufix {
    width: 2.7rem;
    display: inline-block;
  }

  .makeflex {
    height: 124px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.progress-image {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  top: 0;
  height: 100%;
  vertical-align: center;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-edit {
  user-select: none;
  img {
    border: 2px dashed #ccc;
    background-image: url($image);
  }

  a.fa-edit, a.fa-upload {
    position: absolute;
    z-index: 101;
    padding: 0 12px;
  }
  a.fa-edit {
    top: 37px;
  }
}

.imail {
  box-sizing: border-box !important;
  padding-right: 10px !important;
  text-align: right;
}
.multi-selection {
  margin-bottom: 20px;
}

@media only screen and (min-width:1440px) {
  $i: 1;
  $num-cols: 12;
  @while $i <= $num-cols {
    $perc: unquote((100 / ($num-cols / $i)) + "%");
    .row .col {
      &.xxl#{$i} {
        width: $perc;
        margin-left: auto;
        left: auto;
        right: auto;
      }
    }
    $i: $i + 1;
  }
}
