.crud-model-cropper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2000;

  .cropper-wrapper-container {
    position: absolute;
    width: 100%;
    height: calc(100% - 176px);
  }

  .lowbar {
    .preview {
      display: inline-block;
      background-image: url($image);
      background-color: #fff;
    }
    position: absolute;
    width: 100%;
    height: 120px;
    bottom: 0;
  }
}
