.mailbox {
  width: 300px;
}

.mailbox ul {
  padding: 0;
  margin: 0px;
}

.mailbox ul li {
  list-style: none;
}

.mailbox li a {
  padding: 9px 15px !important;

  i {
    padding: 0 !important;
    font-size: 14px !important;
  }
}

.mailbox ul li .drop-title {
  font-weight: 500;
  padding: 11px 20px 15px;
  border-bottom: 1px solid rgba(120, 130, 140, 0.13);
}

.mailbox ul li .nav-link {
  border-top: 1px solid rgba(120, 130, 140, 0.13);
  padding-top: 15px;
}

.mailbox .message-center {
  height: 200px;
  overflow: auto;
  position: relative;
}

.mailbox .message-center a {
  border-bottom: 1px solid rgba(120, 130, 140, 0.13);
  display: block;
  text-decoration: none;
  padding: 9px 15px;
  height: auto !important;
}

.mailbox .message-center a:hover {
  background: #f2f4f8;
}

.mailbox .message-center a div {
  white-space: normal;
}

.mailbox .message-center a .user-img {
  width: 40px;
  position: relative;
  display: inline-block;
  margin: 0 10px 15px 0;
}

.mailbox .message-center a .user-img img {
  width: 100%;
  border-radius: 100%;
}

.mailbox .message-center a .user-img .profile-status {
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  left: 30px;
  position: absolute;
  top: 1px;
  width: 10px;
}

.mailbox .message-center a .user-img .online {
  background: #26c6da;
}

.mailbox .message-center a .user-img .busy {
  background: #fc4b6c;
}

.mailbox .message-center a .user-img .away {
  background: #ffb22b;
}

.mailbox .message-center a .user-img .offline {
  background: #ffb22b;
}

.mailbox .message-center a .mail-contnet {
  display: inline-block;
  width: 74%;
  vertical-align: middle;
}

.mailbox .message-center a .mail-contnet h5 {
  margin: 5px 0 0;
}

.mailbox .message-center a .mail-contnet .mail-desc,
.mailbox .message-center a .mail-contnet .time {
  font-size: 12px;
  display: block;
  margin: 1px 0;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #99abb4;
  white-space: nowrap;
}
