<nav class="blue">
  <div class="nav-wrapper">
    <ul class="left">
      <li><a class="purple darken-3" {{action 'cropImage'}}><i class="fa fa-save"></i></a></li>
      <li><a class="red" {{action 'cancel'}}><i class="fa fa-remove"></i></a></li>
    </ul>
    <ul class="right">
      <li><a {{action 'zoom' 0.1}}><i class="fa fa-search-plus"></i></a></li>
      <li><a {{action 'zoom' -0.1}}><i class="fa fa-search-minus"></i></a></li>
      <li><a {{action 'rotate' 90}}><i class="fa fa-rotate-left"></i></a></li>
      <li><a {{action 'rotate' -90}}><i class="fa fa-rotate-right" ></i></a></li>
      <li>
        <a class="dropdown-button" href="#!" data-activates="cropper-ratio">
          {{t 'crud-model.aspect_ratio'}} {{ratio}}<i class="material-icons right">arrow_drop_down</i></a>
          <ul id="cropper-ratio" class='dropdown-content'>
            {{#each configuration.ratios key="@index" as |ratio index|}}
              <li {{action 'updateRatio' ratio}}><a>{{ratio}}  {{#if (get configuration.suggestions index)}} ({{get configuration.suggestions index}}) {{/if}}</a></li>
            {{/each}}
          </ul>
      </li>
    </ul>
  </div>
</nav>
<div class="cropper-wrapper-container">
  <!-- <div class="cropper-wrapper-container"> -->
  <img src="{{get model field}}" style="max-width:100%;" />
  <!-- </div> -->
</div>
<section class="lowbar white black-text">
  <div class="row">
    <div class="preview"><img style="width: 120px;height:120px;"/></div>
    <div class="preview"><img style="width: 60px;height:60px;"/></div>
    <div class="preview"><img style="width: 30px;height:30px;"/></div>
  </div>
</section>
<!-- <div class="modal fade" data-role="image-edit">
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        {{#if ratios}}
          <div class="btn-group mr-2" role="group" aria-label="First group">
            {{#each configuration.aspectRatio key="@index" as |ratio index|}}
              <button type="button" class="btn btn-secondary" {{action 'updateRatio' ratio}}>{{ratio}}</button>
            {{/each}}
            <button type="button" class="btn btn-primary" {{action 'updateImage'}}>New Image</button>
          </div>
        {{/if}}
        <button type="button" class="close" {{action 'close'}} aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-footer">
        <div class="preview preview120" />
        <div class="preview preview100" />
        <div class="preview preview80" />
        <button type="button" class="btn btn-primary" {{action 'cropImage'}}>Save changes</button>
        <button type="button" class="btn btn-secondary" {{action 'close'}}>Close</button>
      </div>
    </div>
  </div>
</div> -->