<div class="google-map-location grey lighten-3">
  <p class="col s3">
    {{input type="checkbox" checked=enabled id=(concat id '-enabled') class="filled-in"}}
    <label for="{{id}}-enabled">{{t 'crud-model.use_geolocation'}}</label>
  </p>
  <p class="col s3 {{updateMarker}}">
    {{input type="checkbox" checked=markerPrecision id=(concat id '-exact') class="filled-in"}}
    <label for="{{id}}-exact">{{t 'crud-model.exact_location'}}</label>
  </p>
  <p class="col s6 {{updateMarker}}">
    <button type="button" class="btn-flat" {{action 'findlocation'}}>
      <span class="btn-floating pulse z-depth-0">
        <i class="fa fa-dot-circle-o"></i>
      </span>
      {{t 'crud-model.find_location'}}
    </button>
  </p>
</div>
<div id="google_map_canvas"></div>
<div class="google-map-actions btn-group {{updateMarker}} grey lighten-3">
  {{#if guessedAdress}}
      <span>{{t 'crud-model.aproxloc'}} </span>
      <small> {{guessedAdress}}</small>
  {{else}}
    {{t 'crud-model.capurelocinfo'}}
  {{/if}}
</div>