<button data-activates='CRUDModelShowFields' class="btn blue-grey darken-1 dropdown-button"><i class="fa fa-th-list"/></button>
<ul class='dropdown-content' id='CRUDModelShowFields'>
  {{#each-in model as |field config|}}
    {{#if config.list}}
      <li>
        <a href="#" {{action 'toggleField' config}}><span class="fa {{if config.display 'fa-check-square-o' 'fa-square-o'}}"> </span> {{t (concat 'crud-model.' config.label)}}</a>
      </li>
    {{/if}}
  {{/each-in}}
</ul>