{{#unless original_model}}
  {{#if paginator.render}}
    <div id="crud-model-paginator" class="row">
      <div class="col s6 m2">
        <button data-activates='CRUDModelPageSize' class="btn blue-grey darken-1 dropdown-button">
          <i class="fa fa-sort-asc"/>
          {{paginator.limit}}
        </button>
        <ul class='dropdown-content dropup' id='CRUDModelPageSize'>
          <li><a href="#" {{action 'setLimit' 10}}>10</a></li>
          <li><a href="#" {{action 'setLimit' 25}}>25</a></li>
          <li><a href="#" {{action 'setLimit' 50}}>50</a></li>
          <li><a href="#" {{action 'setLimit' 100}}>100</a></li>
          <li><a href="#" {{action 'setLimit' 'All'}}>All</a></li>
        </ul>
      </div>
      <div class="col s6 m3 center">
        <h5>
        <span class="">{{paginator.from}}</span>
         {{t 'crud-model.to'}}
         <span class="">{{paginator.to}}</span>
          {{t 'crud-model.of'}}
         <span class="new badge blue white-text" data-badge-caption="{{{pluralize paginator.total entityName.string without-count=true}}}">{{paginator.total}}</span>
      </h5>
      </div>
      {{#if paginator.links}}
        <div class="col s6 m7 center">
          <ul class="pagination">
            <li class="{{unless paginator.previous 'disabled'}}">
              <a class="page-link " href="#" aria-label="Previous" {{action 'goto' paginator.previous}}>
              <i class="material-icons">chevron_left</i>
              <span class="sr-only">Previous</span>
            </a>
            </li>
            {{#each paginator.links key="@index" as |link|}}
              <li class="waves-effect blue {{if link.current 'active'}}"><a {{action 'goto' link.page}} href="#page{{link.page}}">{{link.page}}</a></li>
            {{/each}}
            <li class="{{unless paginator.next 'disabled'}}">
              <a href="#" aria-label="Next" {{action 'goto' paginator.next}}>
              <i class="material-icons">chevron_right</i>
              <span class="sr-only">Next</span>
            </a>
            </li>
          </ul>
        </div>
      {{/if}}
    </div>
    <script>
      $('[data-activates=CRUDModelPageSize]').dropdown();
    </script>
  {{/if}}
{{/unless}}