<thead>
  {{#crud-row classNames=classHeaders}}
    {{#each-in fields as |field config|}}
      {{#if config.display}}
        {{#if config.list}}
          <th>
            <span class="btn-group">
            {{#if config.sort}}
              <button class="btn grey btn-sm fa fa-{{config.sort}}" {{action 'toggleSort' field}}></button>
            {{/if}}
            <span>{{t (concat 'crud-model.' config.label)}}</span>
            </span>
          </th>
        {{/if}}
      {{/if}}
    {{/each-in}}
    {{#if hasactions}}
      <th style="width:fit-content">{{t 'crud-model.Actions'}}</th>
    {{/if}}
  {{/crud-row}}
</thead>
<tbody>
  {{#each model as |record|}}
    {{#crud-row}}
      {{#each-in fields as |field config|}}
        {{#if config.display}}
          {{#if config.list}}
            {{crud-cell
            model=record
            field=field
            configuration=config}}
          {{/if}}
        {{/if}}
      {{/each-in}}
      {{#if hasactions}}
      <td style="width:fit-content">
        {{#each-in customActions as |field config|}}
          {{crud-cell
            tagName='span'
            model=record
            field=field
            configuration=config}}
        {{/each-in}}
        {{partial 'crud-model/buttons/edit'}}
        {{partial 'crud-model/buttons/delete'}}
        </td>
      {{/if}}
    {{/crud-row}}
  {{/each}}
</tbody>