<div id="crud-model-extras" class="row">
  <div class="col s12 m4 btn-group no-padding">
  {{#if showFields}}
    {{partial 'crud-model/fields'}}
  {{/if}}
  {{#if refresh}}
    <button class="btn blue-grey waves-effect" {{action 'refresh'}}><i class="fa fa-refresh {{if loading 'fa-spin'}}"></i></button>
  {{/if}}
  {{#if cancreate}}
    <button id="crud-model-create" class="btn blue" {{action 'createRecord'}}><i class="fa fa-asterisk"></i>
       {{t 'crud-model.New'}} {{entityName}}
     </button>
  {{/if}}
  </div>
  {{#if searchProperty}}
    <div id="crud-model-search" class="col s12 m8 row">
      <ul class='dropdown-content' id='SearchTermKey'>
        {{#each-in model as |field config|}}
          {{#if config.search}}
            <li><a class="waves-effect" {{action 'searchField' field}}>{{t field}}</a></li>
          {{/if}}
        {{/each-in}}
      </ul>
      <button data-activates='SearchTermKey' class="col s4 dropdown-button btn-flat">{{t searchProperty}}</button>
      {{input value=searchTerm placeholder=(t 'search') class="col s4"}}
      <span class="col s4 btn-group">
         <a href="#" role="button" data-action="search" class="btn btn-secondary" {{action 'searchLocal'}}> {{t 'crud-model.Local'}}</a>
         <a href="#?{{searchProperty}}={{searchTerm}}" role="button" data-action="search" class="btn btn-primary" {{action 'search'}}>{{t 'crud-model.Search'}}</a>
       </span>
    </div>
  {{/if}}
  {{#if orderBy}}
  <div id="crud-model-search" class="col s12 m8 row">
    <ul class='dropdown-content' id='CrudModelOrderBy'>
      {{#each-in model as |field config|}}
        {{#if config.sort}}
          <li><a class="waves-effect" {{action 'setSorting' field}}>{{t field}}</a></li>
        {{/if}}
      {{/each-in}}
    </ul>
    <span class="col s12 btn-group">
      <button data-activates='CrudModelOrderBy' class="col offset-7 s5 dropdown-button btn white black-text">{{t 'orderby'}} {{t sortingProperty}}</button>
      <button class="btn blue fa fa-{{get model (concat sortingProperty '.sort')}}" {{action 'setSorting' sortingProperty}}></button>
     </span>
  </div>
  {{/if}}
</div>