<div class="row">
  <div id="crud-model-extras" role="group" aria-label="Display Fields" class="col-sm-6 btn-group no-padding">
    {{#if showFields}}
      {{partial 'crud-model/fields'}}
    {{/if}}
    {{#if refresh}}
      <button type="button" class="btn btn-secondary" {{action 'refresh'}}><i class="fa fa-refresh {{if loading 'fa-spin'}}"></i></button>
    {{/if}}
    {{#if cancreate}}
      <button id="crud-model-create" type="button" data-toggle="modal" data-target="#crud-model-modal" class="btn btn-primary" {{action 'createRecord'}}><i class="fa fa-asterisk"></i>
       {{t 'crud-model.New'}} {{entityName}}
     </button>
    {{/if}}
    {{#if searchProperty}}
      <div id="crud-model-search" class="col-sm-6 input-group no-padding">
        <div class="btn-group">
          <button type="button" data-toggle="dropdown" class="btn btn-secondary dropdown-toggle" aria-expanded="false">{{t searchProperty}}</button>
          <div class="dropdown-menu">
            {{#each-in model as |field config|}}
              {{#if config.search}}
                <a class="dropdown-item" {{action 'searchField' field}}>{{t field}}</a>
              {{/if}}
            {{/each-in}}
          </div>
        </div>
        <input type="text" placeholder="{{t 'search'}}" id="SearchTerm" class="input-sm form-control">
        <span class="input-group-btn">
         <a href="#" role="button" data-action="search" class="btn btn-secondary" {{action 'searchLocal'}}> {{t 'crud-model.Local'}}</a>
       </span>
        <span class="input-group-btn">
         <a href="#?{{searchProperty}}={{searchTerm}}" role="button" data-action="search" class="btn btn-primary" {{action 'search'}}>{{t 'crud-model.Search'}}</a>
       </span>
      </div>
    {{/if}}
  </div>
</div>