{{#if materialize}}
    <div class="input-field col s12">
      {{textarea
        class="materialize-textarea"
        value=(get model field)}}
      <label for="textarea1" class="{{if (get model field) 'active'}}">{{t (concat 'crud-model.' configuration.label)}}</label>
    </div>
{{else}}
  <label class="col-{{labelSize}} col-form-label">{{t (concat 'crud-model.' configuration.label)}}</label>
  <div class="col-md-12">
    {{textarea name=field type=configuration.type value=(get model field) class="form-control" placeholder=configuration.placeholder required=configuration.required pattern=configuration.pattern}}
  </div>
{{/if}}