{{crud-cropper
  configuration=configuration.cropper
  model=model
  field=field
  open=(action 'vinculate')
  refresh=(action 'preupload')
  aftercrop=(action 'uploadImage')
  cancelCrop=(action 'cancelCrop')
}}
<div class="col s6 m4 g2 col-form-label image-edit mt">
  <a data-role="upload-image-button" class="fa fa-upload btn waves-effect waves-light white-text light-blue"></a>
  {{#if cropper.raw}}
    <a class="fa fa-edit btn waves-effect waves-light white-text purple" {{action 'opencropper'}}></a>
  {{/if}}
  <img class="edit-image img-thumbnail" src={{get model field}}/>
</div>
<div class="col s6 m8 g10 text-center makeflex border-gray">
  <input type="text" required={{configuration.required}} name= {{id}} id= {{id}} value= {{get model field}} style="display:none" />
  <input data-role="ember-crud-model-upload-file" type="file" accept="image/*" multiple="false">
  {{#unless isUploading}}
  <span class="ember-crud-model-upload-file">{{t 'crud-model.drop_leyend'}}</span>
  {{else}}
  <div class="col s12 m4 center" style="position: relative;">
    <span class="progress-image">{{progress}}%</span>
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
  {{/unless}}
</div>
{{#if isUploading}}
<div class="progress blue lighten-4">
  <div class="{{if (eq progress -1) 'indeterminate' 'determinate'}} blue darken-3" style="width: {{progress}}%"></div>
</div>
{{/if}}