{{#if configuration.label}}
  <label for="{{field}}" class="{{if (get model field) 'active'}}">{{t (concat 'crud-model.' configuration.label)}}</label>
{{/if}}
{{materialize-datepicker value=(get model field) id=id name=id required=configuration.required class=(if configuration.haswarnings 'invalid')}}