<label class="col-{{labelSize}} col-form-label">{{t (concat 'crud-model.' configuration.label)}}</label>
<div class="col-{{inputSize}}">
  <div class="btn-group">
    {{#if search}}
      <input name= {{id}} id= {{id}} type="text" value= {{searchterm}} class="form-control" placeholder= {{configuration.placeholder}} required= {{configuration.required}} key-up= {{action 'search'}} pattern= {{configuration.pattern}} />
      <div class="dropdown-menu" style="display:block">
        {{#if searching}}
          <a class="dropdown-item">{{t 'crud-model.Searching'}} <i class="fa fa-refresh fa-spin"></i></a>
        {{else}}
          {{#each records key="@index" as |record|}}
            <a class="dropdown-item" href="#" {{action 'updatevalue' record}}>{{t (concat 'crud-model.' (get record configuration.source))}}</a>
          {{/each}}
        {{/if}}
      </div>
      <button class="input-group-addon" {{action 'setsearch' false}}>Cancel</button>
    {{else}}
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {{action 'setsearch' true}}>
      {{#if (get model (concat field '.' configuration.source))}}
        {{get model (concat field '.' configuration.source)}}
      {{else}}
        {{#if configuration.defautlDisplay}}
          {{configuration.defautlDisplay}}
        {{else}}
          {{t (concat 'crud-model.' 'Select a Value')}}
        {{/if}}
      {{/if}}
    </button>
    {{/if}}
  </div>
</div>