{{#if search}}
  <div class="select-wrapper col s12 no-padding">
    <ul id="data-{{id}}" class="dropdown-content active" style="display:block; opacity: 1; position:absolute">
      {{#if configuration.catalog.sercheable}}
      <li>
        {{input
          id=id
          name=id
          type='text'
          value=searchterm
          class=(concat 'col s10' matetializeClass)
          placeholder=(get model (concat field '.' configuration.source))
          key-up=(action 'search')
          style='margin:0px display:none'
          autocomplete='off'
        }}
        <a class="col s2 waves-effect waves-light btn no-padding" {{action 'setsearch' false}}>
          <i class="material-icons">backspace</i>
        </a>
      </li>
      {{/if}}
      {{#if searching}}
        <a class="dropdown-item">{{t 'crud-model.Searching'}}<i class="fa fa-refresh fa-spin"></i></a>
      {{else}}
        {{#each records as |record|}}
          <li>
            <a href="#" {{action 'updatevalue' record}}>
              {{#if configuration.catalog.renderer}}
                {{eval configuration.catalog.renderer record}}
              {{else}}
                {{t (concat '' (get record configuration.source))}}
              {{/if}}
            </a>
          </li>
        {{/each}}
      {{/if}}
    </ul>
  </div>
  {{else}}
  <div class="select-wrapper" {{action 'setsearch' true}}>
    <span class="caret">▼</span>
    <input
    id={{id}} name={{id}} type="text" class="select-dropdown {{materializeClass}}" value={{t (concat '' (get model (concat field '.' configuration.source)))}}
    required={{configuration.required}}
    />
  </div>
{{/if}}
<label>
  {{t configuration.label}}
</label>