{{#if configuration.label}}
  <label class="col-{{labelSize}} col-form-label">{{t (concat 'crud-model.' configuration.label)}}</label>
{{/if}}
<div class="col-{{inputSize}} input-group fieldactive">
  <span class="fa fa-on {{if (get model field) 'text-success' 'text-faded'}}">  </span>
</div>