{{#if materialize}}
  <div class="input-field col s6">
    {{#if configuration.prefix}}
      <i class="material-icons prefix">{{{ configuration.prefix}}}</i>
    {{/if}}
    {{input
      id=id
      min="0.0"
      step="any"
      name=id
      type="number"
      value=(get model field)
      class=(if configuration.placeholder 'active')
      class=(if configuration.haswarnings 'invalid')
      placeholder=(t (concat 'crud-model.' configuration.placeholder))
      required=configuration.required
      pattern=configuration.pattern}}
    {{#if configuration.label}}
      <label for="{{field}}">{{t (concat 'crud-model.' configuration.label)}}</label>
    {{/if}}
  </div>
  {{#if configuration.sufix}}
    <div class="col col-s1">{{{ configuration.sufix}}}</div>
  {{/if}}
{{else}}
  {{#if configuration.label}}
    <label class="col-{{labelSize}} col-form-label">{{t (concat 'crud-model.' configuration.label)}}</label>
  {{/if}}
  <div class="col-{{inputSize}} input-group">
    {{#if configuration.prefix}}
      <div class="input-group-addon">{{{ configuration.prefix}}}</div>
    {{/if}}
    {{input
    focusIn=(action 'currency' configuration (get model field))
    focusOut=(action 'currency' configuration '')
    key-up=(action 'currency' configuration)
    name=field type=configuration.type value=(get model field) class="form-control" placeholder=configuration.placeholder required=configuration.required pattern=configuration.pattern}}
    {{#if configuration.sufix}}
      <div class="input-group-addon">{{{ configuration.sufix}}}</div>
    {{/if}}
  </div>
{{/if}}