{{#if configuration.oldpassword}}
<div class="col s5">
  <div class="input-field">
  {{input
    autocomplete="off"
    type="password"
    value=(get model configuration.oldpassword)
    class=(concat (if configuration.placeholder 'active') (if configuration.haswarnings 'invalid'))
    required=configuration.required
    pattern=configuration.pattern
  }}
  <label>
  {{t 'crud-model.oldpassword'}}
</label>
</div>
</div>
{{/if}}

<div class="col {{if configuration.oldpassword 's7' 's12'}}">
  <div class="input-field col s10 no-padding">
    {{input
      id=id
      name=id
      type="text"
      autocomplete="off"
      value=(get model field)
      class=(concat (if configuration.placeholder 'active') (if configuration.haswarnings 'invalid'))
      placeholder=(t (concat 'crud-model.' configuration.placeholder))
      required=configuration.required
      pattern=configuration.pattern
    }}
    {{#if configuration.label}}
      <label for= {{id}} class="{{if (get model field) 'active'}}">
      {{t (concat 'crud-model.' configuration.label)}}
    </label>
    {{/if}}
  </div>
  <div class="col input-field s2 mt no-padding">
    <a {{action 'newpass' model field}}
      data-role="keygen"
      role="button"
      title="{{t 'crud-model.autopassword'}}"
      class="btn orange waves-effect waves-light white-text"
      data-toggle="tooltip"
      data-placement="left"
    >
          <i class="fa fa-key"></i>
        </a>
        <script>
        $('[data-role=keygen]').tooltip();
        </script>
  </div>
</div>