{{google-map
  model=model
  center=(get model (concat field '.' 'coordinates'))
  markerPrecision=(get model configuration.precision)
  zoom=(get model configuration.zoom)
  enabled=(get model configuration.enabled)
  id=id }}