{{#if materialize}}
  {{#if configuration.prefix}}
    <i class="material-icons prefix">{{{ configuration.prefix}}}</i>
  {{/if}}
  {{input
      id=id
      name=id
      type=configuration.type
      value=(get model field)
      class=(if configuration.placeholder 'active')
      class=(if configuration.haswarnings 'invalid')
      placeholder=(t (concat 'crud-model.' configuration.placeholder))
      required=configuration.required
      key-up=(action 'generic')
      pattern=configuration.pattern}}
  {{#if configuration.label}}
    <label for="{{field}}" data-error="wrong" data-success="right">{{t (concat 'crud-model.' configuration.label)}}</label>
  {{/if}}
  {{#if configuration.sufix}}
    <div class="input-group-addon">{{{ configuration.sufix}}}</div>
  {{/if}}
{{else}}
  {{#if configuration.label}}
    <label class="col-sm-12 col-md-{{labelSize}} col-form-label">{{t (concat 'crud-model.' configuration.label)}}</label>
  {{/if}}
  <div class="col-sm-12 col-md-{{if configuration.label inputSize 12}} input-group">
    {{#if configuration.prefix}}
      <div class="input-group-addon">{{{ configuration.prefix}}}</div>
    {{/if}}
    {{input name=field type=configuration.type value=(get model field) class="form-control" placeholder=(t (concat 'crud-model.' configuration.placeholder)) required=configuration.required pattern=configuration.pattern}}
    {{#if configuration.sufix}}
      <div class="input-group-addon">{{{ configuration.sufix}}}</div>
    {{/if}}
  </div>
{{/if}}