<div class="btn-group input-field mt multi-selection" role="group" aria-label="gender Selection">
  <button type="button" class="btn {{if (eq (get model field) 'M') 'blue' 'black-text white'}}" {{action 'set' model field 'M'}}>
  <i class="fa fa-mars"/>
</button>
  <button type="button" class="btn {{if (eq (get model field) 'X') 'purple' 'black-text white'}}" {{action 'set' model field 'X'}}>
  <i class="fa fa-transgender" />
</button>
  <button type="button" class="btn {{if (eq (get model field) 'F') 'pink' 'black-text white'}}" {{action 'set' model field 'F'}}>
    <i class="fa fa-venus"/>
</button>
</div>
<label class="active">{{t (concat 'crud-model.' configuration.label)}}</label>